@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600&display=swap');


body {
  font-family: 'Source Sans 3';
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account {
  color: gray;
  align-items: center;
  text-align: center;
}

.account a {
  text-decoration: underline;
  text-transform: uppercase;
  color: gray;
}

.navbar {
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.navbar-container img {
  padding-left: 20px;
  padding-top: 5px;
}

.navbar-container ul li {
  display: inline-block;
}

.navbar-container ul li h1 {
  color: black;
}

.navbar-container ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-left {
  font-size: large;
  padding-left: 30px;
}

.navbar-right {
  margin: auto;
  padding-left: 150px;
}

.navbar-right li {
  padding-right: 30px;
}

.navbar-right li a {
  color: grey;
}

img {
  height: 100px;
  width: 100px;
}

.login-form h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.login-form label {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 15px;
}

.signup-form h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.fill-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  padding: 100px 250px 130px 250px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 1.5px rgba(0, 0, 0, 0.25);
}

.signup-form label {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 15px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 20px;
  text-overflow: ellipsis;
}

/* Chrome/Safari/Opera */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Firefox 18- */
input:focus:-moz-placeholder {
  color: transparent;
}

/* Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent;
}

/* IE 8 and older ;) */
input:focus:-ms-input-placeholder {
  color: transparent;
}

::placeholder {
  padding: 10px;
}

.button {
  width: 250px;
  height: 30px;
  font-size: 12px;
  border-radius: 5px;
  border: 1px solid #d73938;
  color: white;
  background-color: #d73938;
}





/*reservation*/
.reservation-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #d73938;
}

/*reservation radio-day*/
.radio-days {
  display: inline-flex;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #d73938;
}

.radio__input {
  display: none;
}

.radio__label {
  padding: 8px 14px;
  font-size: 12px;
  font-family: 'Source Sans 3';
  color: #AAAAAA;
  background: #fff;
  cursor: pointer;
  transition: background 0.1s;
}

.radio__label:not(:last-of-type) {
  border-right: 1px solid #d73938;
}

.radio__input:checked + .radio__label {
  color: #fff;
  background: #d73938;
}

/*reservation button*/
.reservation-button {
  padding: 7px 25px;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Source Sans 3';
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: 1px solid #d73938;
  background-color: #d73938;
  display: inline-block;
}

.button-close {
  padding: 7px 25px;
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Source Sans 3';
  font-weight: bold;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  background-color: white;
  display: inline-block;
}

.button-edit {
  font-size: 22px;
  color: black;
}


/*reservation add*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  margin: 70px auto;
  padding: 20 px;
  background: white;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.wrapper h2 {
  margin-top: 0;
  color: black;
}

.wrapper .content {
  max-height: 30%;
  overflow: auto;
  padding: 20px;
}

/* form design */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 20px 0;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}