@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600&display=swap");

body {
  font-family: "Source Sans 3", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account {
  color: gray;
  align-items: center;
  text-align: center;
}

.account a {
  text-decoration: underline;
  text-transform: uppercase;
  color: gray;
}

.navbar {
  width: 100%;
  position: sticky;
  top: 0px;
  background-color: white;
}

.navbar-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.navbar-container img {
  padding-left: 20px;
  padding-top: 5px;
}

.navbar-container ul li {
  display: inline-block;
}

.navbar-container ul li h1 {
  color: black;
}

.navbar-container ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-left {
  font-size: large;
  padding-left: 30px;
}

.navbar-right {
  margin: auto 0px auto auto;
  padding-left: 150px;
}

.navbar-right li {
  padding-right: 30px;
}

.navbar-right li a {
  color: grey;
}

img {
  height: 100px;
  width: 100px;
}

.login-form h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.login-form label {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 15px;
}

.signup-form h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}

.fill-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  padding: 100px 250px 130px 250px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px 1.5px rgba(0, 0, 0, 0.25);
}

.signup-form label {
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 15px;
}

input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid grey;
  margin-bottom: 20px;
  text-overflow: ellipsis;
}

/* Chrome/Safari/Opera */
input:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Firefox 18- */
input:focus:-moz-placeholder {
  color: transparent;
}

/* Firefox 19+ */
input:focus::-moz-placeholder {
  color: transparent;
}

/* IE 8 and older ;) */
input:focus:-ms-input-placeholder {
  color: transparent;
}

::placeholder {
  padding: 10px;
}

.button {
  margin: 0 auto;
  width: 250px;
  height: 30px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #d73938;
  color: white;
  background-color: #d73938;
}

.personal-info {
  width: 1000px;
  height: auto;
}

.personal-info .account {
  color: gray;
  text-align: left;
  margin-top: 30px;
  font-weight: lighter;
}

.title {
  margin-top: 65px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.head {
  width: 50%;
  text-align: left;
  font-size: 22px;
  text-transform: capitalize;
}

.sub-head {
  font-size: 18px;
  text-transform: capitalize;
}

.body {
  margin: 0;
  font-size: 16px;
  padding-left: 18px;
  font-weight: lighter;
}

.edit-personal-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edit-personal-info .button {
  width: 100px;
  height: 40px;
}

/*reservation*/
.reservation-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #d73938;
}

/*reservation radio-day*/
.radio-days {
  display: inline-flex;
  overflow: hidden;
  border-radius: 8px;
  border: 1px solid #d73938;
}

.radio__input {
  display: none;
}

.radio__label {
  padding: 8px 14px;
  font-size: 12px;
  font-family: "Source Sans 3";
  color: #aaaaaa;
  background: #fff;
  cursor: pointer;
  transition: background 0.1s;
}

.radio__label:not(:last-of-type) {
  border-right: 1px solid #d73938;
}

.radio__input:checked + .radio__label {
  color: #fff;
  background: #d73938;
}

/*reservation button*/
.reservation-button {
  padding: 7px 25px;
  border-radius: 5px;
  font-size: 12px;
  font-family: "Source Sans 3";
  font-weight: bold;
  text-decoration: none;
  color: white;
  border: 1px solid #d73938;
  background-color: #d73938;
  display: inline-block;
}

.button_edit {
  font-size: 22px;
  color: black;
}

/*add reservation*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.wrapper {
  margin: 70px auto;
  padding: 20 px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.wrapper h2 {
  margin-top: 0;
  color: #333;
}

.wrapper .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.wrapper .content {
  max-height: 30%;
  overflow: auto;
}
