body {
  width: 1512px;
  height: 982px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container {
  margin-top: -5px;
  display: flex;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.navbar-container img {
  padding-left: 10px;
}

.navbar-container ul li {
  display: inline-block;
}

.navbar-container ul li h1 {
  color: black;
}

.navbar-container ul li a {
  text-decoration: none;
  text-transform: uppercase;
}

.navbar-left {
  font-size: large;
  padding-left: 30px;
}

.navbar-right {
  margin: auto;
  padding-left: 150px;
}

.navbar-right li {
  padding-right: 30px;
}

.navbar-right li a {
  color: grey;
}
img {
  height: 100px;
  width: 100px;
}
